# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# binary files
*.bin

# VMWare
VMImage/*.lck/*
VMImage/*.log
VMImage/*.vmdk
VMImage/*.nvram
VMImage/*.vmsd
VMImage/*.vmem
VMImage/serial.out

# BOCHS
BOCHSImage/*.out
BOCHSImage/*.ini

#some compiler
kernel64/*.i
kernel64/*.s
*.map
*.zip


